<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body class="log">
    <div class="container">
        <h1>Login</h1>
        <form method="POST" >
            <input  id ="field"type="email" name="email" placeholder="Email" required>
            <input id ="field" type="password" name="password" placeholder="Password" required>
            <button class="common-style" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
 
</body>
</html>
